In [12]:
import pandas as pd

In [25]:
CONTRACT_PAYMENT_TERMS=pd.DataFrame(CONTRACT_PAYMENT_TERMS)

In [24]:
CONTRACT_PAYMENT_TERMS={'cpt_id':[100,101,102,103],'freq_of_pmt':['monthly','quarter','half yearly','yearly']}

In [5]:
CONTRACT_PAYMENT_TERMS

   cpt_id  freq_of_pmt
0     100      monthly
1     101      quarter
2     102  half yearly
3     103       yearly

In [2]:
contract_table=pd.DataFrame()

In [3]:
contract_table['contract_id']=[12345,12879,12987,12346,12348]

In [4]:
contract_table['contract_type']=['goven','indicidual','indicidual','goven','goven']

In [7]:
contract_table['cont_s_date']=['10-jan-10','03-feb-11','15/feb/11','13-mar-09','6-apr-12']

In [31]:
print(contract_table)
print(contract_table.T)
print(contract_table.transform)

   contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22    1003    200000

    ins_date   upd_date
0 2010-01-10        NaT
1 2011-02-03        NaT
2 2011-02-15        NaT
3 2009-03-10 2009-04-10
4 2009-05-08        NaT
                                 0                    1                    2  \
contract_id                  12345                12879                12987
contract_type           government           individual           individual
cont_s_date    2010-01-10 00:00:00  2011-02-03 00:00:00  2011-02-15 00:00:00
cont_e_date    2012-01-10 00:00:00  2012-02-15 00:00:00  2011-09-15 00:00:00
cpt_id                         100                  101                  100
cont_amt                    700000               489938               289938
ins_date       2010-01-10 00:00:00  2011-02-03 00:00:00  2011-02-15 00:00:00
upd_date                       NaT                  NaT                  NaT

                                 3                    4
contract_id                  12346                12348
contract_type           government           government
cont_s_date    2009-03-13 00:00:00  2012-04-06 00:00:00
cont_e_date    2011-03-14 00:00:00  2013-05-22 00:00:00
cpt_id                         102                 1003
cont_amt                    200000               200000
ins_date       2009-03-10 00:00:00  2009-05-08 00:00:00
upd_date       2009-04-10 00:00:00                  NaT
<bound method DataFrame.transform of    contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22    1003    200000

    ins_date   upd_date
0 2010-01-10        NaT
1 2011-02-03        NaT
2 2011-02-15        NaT
3 2009-03-10 2009-04-10
4 2009-05-08        NaT  >

In [9]:
contract_table['cont_s_date']=pd.to_datetime(contract_table['cont_s_date'])

In [21]:
contract_table=pd.read_csv(r'C:\Users\ELCOT\OneDrive\Desktop\jupyter notebook\Aroha\contract 6-6-22.csv')
contract_table['cont_s_date']=pd.to_datetime(contract_table['cont_s_date'])
contract_table['cont_e_date']=pd.to_datetime(contract_table['cont_e_date'])
contract_table['ins_date']=pd.to_datetime(contract_table['ins_date'])
contract_table['upd_date']=pd.to_datetime(contract_table['upd_date'])
contract_table.dtypes

contract_id               int64
contract_type            object
cont_s_date      datetime64[ns]
cont_e_date      datetime64[ns]
cpt_id                    int64
cont_amt                  int64
ins_date         datetime64[ns]
upd_date         datetime64[ns]
dtype: object

In [26]:
print(CONTRACT_PAYMENT_TERMS)
print(contract_table)

   cpt_id  freq_of_pmt
0     100      monthly
1     101      quarter
2     102  half yearly
3     103       yearly
   contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22    1003    200000

    ins_date   upd_date
0 2010-01-10        NaT
1 2011-02-03        NaT
2 2011-02-15        NaT
3 2009-03-10 2009-04-10
4 2009-05-08        NaT

In [28]:
print(rount(contract_table['cont_e_date']-contract_table['cont_s_date'])/365)

0             2 days 00:00:00
1   1 days 00:47:20.547945205
2   0 days 13:56:23.013698630
3   2 days 00:03:56.712328767
4   1 days 03:01:28.767123287
dtype: timedelta64[ns]