In [1]:
import pandas as pd

In [3]:
CONTRACT_PAYMENT_TERMS=pd.DataFrame(CONTRACT_PAYMENT_TERMS)

In [2]:
CONTRACT_PAYMENT_TERMS={'cpt_id':[100,101,102,103],'freq_of_pmt':['monthly','quarter','half yearly','yearly']}

In [4]:
CONTRACT_PAYMENT_TERMS

   cpt_id  freq_of_pmt
0     100      monthly
1     101      quarter
2     102  half yearly
3     103       yearly

In [2]:
contract_table=pd.DataFrame()

In [3]:
contract_table['contract_id']=[12345,12879,12987,12346,12348]

In [4]:
contract_table['contract_type']=['goven','indicidual','indicidual','goven','goven']

In [7]:
contract_table['cont_s_date']=['10-jan-10','03-feb-11','15/feb/11','13-mar-09','6-apr-12']

In [31]:
print(contract_table)
print(contract_table.T)
print(contract_table.transform)

   contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22    1003    200000

    ins_date   upd_date
0 2010-01-10        NaT
1 2011-02-03        NaT
2 2011-02-15        NaT
3 2009-03-10 2009-04-10
4 2009-05-08        NaT
                                 0                    1                    2  \
contract_id                  12345                12879                12987
contract_type           government           individual           individual
cont_s_date    2010-01-10 00:00:00  2011-02-03 00:00:00  2011-02-15 00:00:00
cont_e_date    2012-01-10 00:00:00  2012-02-15 00:00:00  2011-09-15 00:00:00
cpt_id                         100                  101                  100
cont_amt                    700000               489938               289938
ins_date       2010-01-10 00:00:00  2011-02-03 00:00:00  2011-02-15 00:00:00
upd_date                       NaT                  NaT                  NaT

                                 3                    4
contract_id                  12346                12348
contract_type           government           government
cont_s_date    2009-03-13 00:00:00  2012-04-06 00:00:00
cont_e_date    2011-03-14 00:00:00  2013-05-22 00:00:00
cpt_id                         102                 1003
cont_amt                    200000               200000
ins_date       2009-03-10 00:00:00  2009-05-08 00:00:00
upd_date       2009-04-10 00:00:00                  NaT
<bound method DataFrame.transform of    contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22    1003    200000

    ins_date   upd_date
0 2010-01-10        NaT
1 2011-02-03        NaT
2 2011-02-15        NaT
3 2009-03-10 2009-04-10
4 2009-05-08        NaT  >

In [8]:
contract_table['cont_s_date']=pd.to_datetime(contract_table['cont_s_date'])

In [27]:
from datetime import datetime
contract_table=pd.read_csv(r'C:\Users\ELCOT\OneDrive\Desktop\jupyter notebook\Aroha\contract 6-6-22.csv')
contract_table['cont_s_date']=pd.to_datetime(contract_table['cont_s_date'])
contract_table['cont_e_date']=pd.to_datetime(contract_table['cont_e_date'])
contract_table['ins_date']=pd.to_datetime(contract_table['ins_date'])
contract_table['upd_date']=pd.to_datetime(contract_table['upd_date'])
contract_table['years']=(contract_table['cont_e_date']-contract_table['cont_s_date'])
contract_table['years']=contract_table['years'].astype('str')
contract_table['years']=contract_table['years'].str[:-4]
contract_table['years']=contract_table['years'].astype('int')
contract_table['years']=contract_table['years'].astype('int')/365
table=pd.merge(CONTRACT_PAYMENT_TERMS,contract_table,on=['cpt_id'])
for a,b,c,d,e,f in zip(table['freq_of_pmt'],table['contract_id'],table['cont_amt'],table['years'],table['cont_s_date'],table['years']):
    if a=='monthly':
        z=f*12
        n=1
        while n<=z:
            date_format = '%d/%m/%Y'
            dtObj = datetime.strptime(e.strftime('%d/%m/%Y'), date_format)
            future_date = dtObj + pd.DateOffset(months=n)
            print(datetime.date(future_date),b,(c/(f*12)))
            n+=1
    elif a=='quarter':
        z=f*12
        print(z)
        n=1
        while n<=z:
            date_format = '%d/%m/%Y'
            dtObj = datetime.strptime(e.strftime('%d/%m/%Y'), date_format)
            future_date = dtObj + pd.DateOffset(months=n)
            print(datetime.date(future_date),b,(c/(f*12)))
            n+=1

2010-02-10 12345 29166.666666666668
2010-03-10 12345 29166.666666666668
2010-04-10 12345 29166.666666666668
2010-05-10 12345 29166.666666666668
2010-06-10 12345 29166.666666666668
2010-07-10 12345 29166.666666666668
2010-08-10 12345 29166.666666666668
2010-09-10 12345 29166.666666666668
2010-10-10 12345 29166.666666666668
2010-11-10 12345 29166.666666666668
2010-12-10 12345 29166.666666666668
2011-01-10 12345 29166.666666666668
2011-02-10 12345 29166.666666666668
2011-03-10 12345 29166.666666666668
2011-04-10 12345 29166.666666666668
2011-05-10 12345 29166.666666666668
2011-06-10 12345 29166.666666666668
2011-07-10 12345 29166.666666666668
2011-08-10 12345 29166.666666666668
2011-09-10 12345 29166.666666666668
2011-10-10 12345 29166.666666666668
2011-11-10 12345 29166.666666666668
2011-12-10 12345 29166.666666666668
2012-01-10 12345 29166.666666666668
2011-03-15 12987 41598.80896226415
2011-04-15 12987 41598.80896226415
2011-05-15 12987 41598.80896226415
2011-06-15 12987 41598.80896226415
2011-07-15 12987 41598.80896226415
2011-08-15 12987 41598.80896226415
12.394520547945206
2011-03-03 12879 39528.59637488948
2011-04-03 12879 39528.59637488948
2011-05-03 12879 39528.59637488948
2011-06-03 12879 39528.59637488948
2011-07-03 12879 39528.59637488948
2011-08-03 12879 39528.59637488948
2011-09-03 12879 39528.59637488948
2011-10-03 12879 39528.59637488948
2011-11-03 12879 39528.59637488948
2011-12-03 12879 39528.59637488948
2012-01-03 12879 39528.59637488948
2012-02-03 12879 39528.59637488948

In [33]:
39528.59637488948*12+15000

489343.1564986737

In [22]:
79057.19274977896*7

553400.3492484527

In [30]:
489938/12

40828.166666666664

In [6]:
print(CONTRACT_PAYMENT_TERMS)
print(contract_table)
table=pd.merge(CONTRACT_PAYMENT_TERMS,contract_table,on=['cpt_id'])
table

   cpt_id  freq_of_pmt
0     100      monthly
1     101      quarter
2     102  half yearly
3     103       yearly
   contract_id contract_type cont_s_date cont_e_date  cpt_id  cont_amt  \
0        12345    government  2010-01-10  2012-01-10     100    700000
1        12879    individual  2011-02-03  2012-02-15     101    489938
2        12987    individual  2011-02-15  2011-09-15     100    289938
3        12346    government  2009-03-13  2011-03-14     102    200000
4        12348    government  2012-04-06  2013-05-22     103    200000

    ins_date   upd_date     years
0 2010-01-10        NaT  2.000000
1 2011-02-03        NaT  1.032877
2 2011-02-15        NaT  0.580822
3 2009-03-10 2009-04-10  2.002740
4 2009-05-08        NaT  1.126027

,cpt_id,freq_of_pmt,contract_id,contract_type,cont_s_date,cont_e_date,cont_amt,ins_date,upd_date,years
0,100,monthly,12345,government,2010-01-10,2012-01-10,700000,2010-01-10,NaT,2.000000
1,100,monthly,12987,individual,2011-02-15,2011-09-15,289938,2011-02-15,NaT,0.580822
2,101,quarter,12879,individual,2011-02-03,2012-02-15,489938,2011-02-03,NaT,1.032877
3,102,half yearly,12346,government,2009-03-13,2011-03-14,200000,2009-03-10,2009-04-10,2.002740
4,103,yearly,12348,government,2012-04-06,2013-05-22,200000,2009-05-08,NaT,1.126027

In [7]:
for a,b,c,d,e,f in zip(table['freq_of_pmt'],table['contract_id'],table['cont_amt'],table['years'],table['cont_s_date'],table['years']):
    if a=='monthly':
        date_format = '%d/%m/%Y'
        dtObj = datetime.strptime(e.strftime('%d/%m/%Y'), date_format)
        n = 1
        future_date = dtObj + pd.DateOffset(months=n)
        print(datetime.date(future_date),b,(c/(f*12)))

2010-02-10 12345 29166.666666666668
2011-03-15 12987 41598.80896226415

In [8]:
for a,b,c,d,e,f in zip(table['freq_of_pmt'],table['contract_id'],table['cont_amt'],table['years'],table['cont_s_date'],table['years']):
    if a=='monthly':
        z=f*12
        n=1
        while n<=z:
            date_format = '%d/%m/%Y'
            dtObj = datetime.strptime(e.strftime('%d/%m/%Y'), date_format)
            future_date = dtObj + pd.DateOffset(months=n)
            print(datetime.date(future_date),b,(c/(f*12)))
            n+=1

2010-02-10 12345 29166.666666666668
2010-03-10 12345 29166.666666666668
2010-04-10 12345 29166.666666666668
2010-05-10 12345 29166.666666666668
2010-06-10 12345 29166.666666666668
2010-07-10 12345 29166.666666666668
2010-08-10 12345 29166.666666666668
2010-09-10 12345 29166.666666666668
2010-10-10 12345 29166.666666666668
2010-11-10 12345 29166.666666666668
2010-12-10 12345 29166.666666666668
2011-01-10 12345 29166.666666666668
2011-02-10 12345 29166.666666666668
2011-03-10 12345 29166.666666666668
2011-04-10 12345 29166.666666666668
2011-05-10 12345 29166.666666666668
2011-06-10 12345 29166.666666666668
2011-07-10 12345 29166.666666666668
2011-08-10 12345 29166.666666666668
2011-09-10 12345 29166.666666666668
2011-10-10 12345 29166.666666666668
2011-11-10 12345 29166.666666666668
2011-12-10 12345 29166.666666666668
2012-01-10 12345 29166.666666666668
2011-03-15 12987 41598.80896226415
2011-04-15 12987 41598.80896226415
2011-05-15 12987 41598.80896226415
2011-06-15 12987 41598.80896226415
2011-07-15 12987 41598.80896226415
2011-08-15 12987 41598.80896226415

In [13]:

date_format = '%d/%m/%Y'
dtObj = datetime.strptime(table['cont_s_date'][0].strftime('%d/%m/%Y'), date_format)
n = 1
future_date = dtObj + pd.DateOffset(months=n)
print(datetime.date(future_date))

2010-02-10

In [132]:
table['cont_s_date'][0].strftime('%d/%m/%Y')

'10/01/2010'

In [ ]:
date_format = '%d/%m/%Y'
dtObj = datetime.strptime(given_date, date_format)
# Add 20 months to a given datetime object
n = 20
future_date = dtObj + relativedelta(months=n)
print('Date after 20 months: ', future_date)
print('Date after 20 months: ', future_date.date())
# Convert datetime object to string in required format
future_date_str = future_date.strftime(date_format)
print('Date after 20 months (as string): ', future_date_str)