In [21]:
for i in range(65,99):
     print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[
\
]
^
_
`
a
b

In [22]:
n=[1,2,3,4,5,6,7]
s=0
for i in n:
    if i <3:
        s=s+i
    if i>4:
        s=s+i
print(s)

21

In [27]:
a=[[1,2],[4,5],12,34,[45,67]]
l=[]
for i in a:
    if type(i)==list:
        l.extend(i)
    if type(i)!=list:
        l.append(i)
print(a)
print(l)

[[1, 2], [4, 5], 12, 34, [45, 67]]
[1, 2, 4, 5, 12, 34, 45, 67]

In [7]:
h='apple'
for i in range(0,len(h)-1):
    if h[i]==h[i+1]:
        print('yes',h[i],h[i+1])

yes p p

In [30]:
fib=0,1,1,2,3,5,8,13,21
a=0
b=1
num=int(input('num'))
c=0
while c<num:
    print(a)
    nth=a+b
    a=b
    b=nth
    c+=1

num9
0
1
1
2
3
5
8
13
21

In [57]:
'''find the sum,max,age of the below df
employees=[('jack',34,'sydney',5),('riti',31,'delhi',7),('aadi',16,'londen',11),('mark',41,'delhi',12)]
df=pd.DataFrame(employees,columns=['name','age','city','experience'])'''
import pandas as pd
employees=[('jack',34,'sydney',5),('riti',31,'delhi',7),('aadi',16,'londen',11),('mark',41,'delhi',12)]
df=pd.DataFrame(employees,columns=['name','age','city','experience'])
df.loc[len(df)]=('hi',4,'ln',45)
df

   name  age    city  experience
0  jack   34  sydney           5
1  riti   31   delhi           7
2  aadi   16  londen          11
3  mark   41   delhi          12
4    hi    4      ln          45

In [63]:
#df.drop([2],inplace=True,axis=0)
df.iloc[1:4,:]

   name  age    city  experience
1  riti   31   delhi           7
2  aadi   16  londen          11
3  mark   41   delhi          12

In [47]:
sum(df['experience'])

80

In [45]:
"dictionary keys into values and values into keys"
dict = {'a': 1, 'b': 2, 'c': 3}
print(dict['b'])

2

In [51]:
dic={j:i for i,j in dict.items()}
dict

{1: 'a', 2: 'b', 3: 'c'}

In [46]:
dict = {value:key for key, value in dict.items()}
print(dict)

{1: 'a', 2: 'b', 3: 'c'}

In [110]:
for i in range(0,10,2):
    for j in range(0,i+1,2):
        print(j+1,end=' ')
    print('\n')

1

1 3

1 3 5

1 3 5 7

1 3 5 7 9

In [107]:
for i in range(6,0,-1):
    for j in range(0,i):
        print(j+1,end=' ')
    print(" ")

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [178]:
num=int(input('num'))
n=2*num-2
for i in range(0,num):
    for j in range(0,n):
        print(end=' ')
    n=n-2
    for j in range(0,i+1):
        print(i,end=('*'))
    print(" ")

num6
          0*
        1*1*
      2*2*2*
    3*3*3*3*
  4*4*4*4*4*
5*5*5*5*5*5*

In [177]:
num=int(input('num'))
n=2*num-2
for i in range(0,num):
    for j in range(0,n):
        print(end='0')
    n=n-2
    for j in range(0,i+1):
        print(i,end=('*'))
    print(" ")

num6
00000000000*
000000001*1*
0000002*2*2*
00003*3*3*3*
004*4*4*4*4*
5*5*5*5*5*5*

In [176]:
for i in range(6):
    print(end="0")
for j in range(6):
    print('8')
print('p')

0000008
8
8
8
8
8
p

In [169]:
print(end='0')
print(end='l')

0l

In [166]:
print("Welcome to" , end='') 
print("GeeksforGeeks", end=' ')

Welcome toGeeksforGeeks

In [161]:
print('hi',end=' ')
print('i')

hi i

In [152]:
for j in range(0,n):
    print(end=' ')
n=n-2
for j in range(0,i+1):
    print(i,end=('*'))

5*5*5*5*5*5*

In [149]:
for j in range(0,6):
        print(j,end="*")

0*1*2*3*4*5*

In [150]:
for j in range(0,i+1):
        print(i,end=('*'))

5*5*5*5*5*5*