In [11]:
'''1.write a programt o input 10 num.find max mini without using list tuple set'''


mini=0
maxi=0
count=0
while True:
    num=int(input('w'))
    if num>maxi:
        maxi=num
    if count==0:
        mini=num
    count+=1
    if count>=1:
        if num<mini:
            mini=num
    if count==10:
        break
print("maximum",mini)
print("minimum",maxi)

w67
w23
w45
w98
w456
w789
w123
w345
w567
w4567345
maximum 23
minimum 4567345

In [16]:
'''2 names=['sushil','hari','kiran kumar']  display
all the names find how may are starts with p or s'''

count1=0
count2=0
names=['sushil','hari','kiran kumar','prakash','shreya']
for i in names:
    if i.startswith('s'):
        count1+=1
    if i.startswith('p'):
        count2+=1
print(count1,count2,count1+count2)

2 1 3

In [ ]:
'''3.process data1 find how many three digits prime numbers are there'''
data={123,101,133,77,49.149,129,31,999,971,932,931}
count=0
emp={}
for i in data:
    if i>99 and i<1000:
        for j in range(2,i):
            if (i%j)==0:
                count+=1
            datas={i:count}
            emp.update(datas)
        count=0
count1=0
for u,v in emp.items():
    if v==0:
        count1+=1
print(emp)
print(count1)

In [21]:
'''4.add data1 and data2 into result only unique'''

d1=[56,78,12,190,100]
d2=[440,22,55,66,19,78]
res=[]
for i in d1:
    if i not in res:
        res.append(i)
for j in d2:
    if j not in res:
        res.append(j)
print(res)
print(res[::-1])

[56, 78, 12, 190, 100, 440, 22, 55, 66, 19]
[19, 66, 55, 22, 440, 100, 190, 12, 78, 56]

In [24]:
'''5.emp={1000:'uday',2000:'lohit',3000:'batma'} how maby emp are there 
is there any emp calles sushil kumar given a= (2000,5000,1200,1900)
find the name of the id in a'''
emp={1000:'uday',2000:'lohit',3000:'batma',5000:'kalai'}
ids=emp.keys()
names=emp.values()
length=len(ids)
for i in names:
    if i=='lohit':
        print('yes')
a= (2000,5000,1200,1900)
for j in a:
    for u,v in emp.items():
        if u==j:
            print(u,v)

yes
2000 lohit
5000 kalai

In [25]:
'''6.to question 5 write a program to input the emply code and name till the use wishes
add them to the employee and finally display all the contents of the employee'''

while True:
    ids=int(input("enter id"))
    if ids==-1:
        break
    name=str(input('name'))
    emps={ids:name}
    emp.update(emps)
print(emp)

enter id1200
nameakash
enter id2300
nameceema
enter id3000
nameuma
enter id-1
{1000: 'uday', 2000: 'lohit', 3000: 'uma', 5000: 'kalai', 1200: 'akash', 2300: 'ceema'}

In [28]:
'''7.filter out the numbers divisible by 7 from data1=[10,189,90,88,1,45] 
only last 10 elements needs to be processed'''

data1=[10,189,90,88,1,45,77,34,54,66,121,99,78,777] 
list1=data1[-10:]
list2=[]
for i in list1:
    if (i%7)==0:
        list2.append(i)
print(list2,len(list2))

[77, 777] 2

In [31]:
'''8.data1=[10,189,90,88,1,45] numb={4}
multiply by all the elements of data1 with the contents of numb
givenand store the result in data2 display the same'''


data1=[10,189,90,88,1,45]
numb={4}
data2=[]
for i in data1:
    for j in numb:
        a=i*j
        data2.append(a)
print(data2)

numb={4,6,8}
data2=[]
for i in data1:
    for j in numb:
        a=i*j
        data2.append(a)
print(data2)

[40, 756, 360, 352, 4, 180]
[80, 40, 60, 1512, 756, 1134, 720, 360, 540, 704, 352, 528, 8, 4, 6, 360, 180, 270]